---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h2 class="text-3xl font-bold text-gray-800">About</h2>
  <p class="mt-4 text-gray-600">
    This is a basic Astro project that lets users fill out a form, see a styled
    preview, and copy it to the clipboard.
  </p>
</Layout>
