---
// Obtener la ruta actual
const currentPath = Astro.url;
const { pathname } = currentPath;

const Links = [
  { href: "/design", text: "Design" },
  { href: "/preview", text: "Preview" },
  { href: "/contribution", text: "Contribution" },
];
---

<header class="bg-white shadow p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1
      class="text-2xl font-bold text-gray-800 cursor-pointer"
      onclick="window.location.href='/'"
    >
      Dojo Coding Template Maker
    </h1>
    <nav class="flex">
      {
        Links.map(({ href, text }) => (
          <a
            href={href}
            class={`p-4 ${pathname === href ? "bg-blue-500 text-white font-bold rounded" : "text-gray-700 hover:text-blue-500"}`}
          >
            {text}
          </a>
        ))
      }
    </nav>
  </div>
</header>
